@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
</head>
<body>
    @*@foreach(var key in Model.Keys)
    {
        <p>@Model[key]</p>
    }*@

    <p>@Model</p>
</body>
</html>
